<div class="panel panel-default border_bottom_none filters-group">
    <div class="panel-heading">
        <h4 class="panel-title" ng-click="collapsed = !collapsed">
            {{ 'RESULTS.AIRPORTS' | translate }}
            <i class="material-icons pull-right clickable">{{headerIcon}}</i>
        </h4>
        <a class='reset' ng-click="reset()">({{ 'RESULTS.RESET' | translate }})</a>
    </div>
    <div class="panel-collapse collapse" ng-class="{in: !collapsed}">
        <div class="panel-body">
            <ul bindonce ng-repeat="(city, airportsList) in airports | groupBy:'city'"
                class="list-unstyled filter-options-list">
                <li class='title' bo-bind="city"></li>
                <li bindonce ng-repeat="airport in airportsList">
                    <input type="checkbox"
                           ng-click="toggleItem(airport)"
                           ng-model="airport.checked"/>
                    <label ng-click="toggleItem(airport)">
                        <span></span>
                        <span bo-bind="airport.iata"></span>
                        <span bo-bind="airport.name"></span>
                    </label>
                    <span class='only' ng-click="selectOnly(airport)">{{ 'RESULTS.ONLY' | translate }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
