<div class="static-page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>The following describes the Privacy Policy (as amended from time to time, the "Privacy Policy")
                applicable to the information collected through the VliegDutch.nl website, the VliegDutch.nl mobile
                website, and any other future mobile applications and any other online communications and interfaces
                from VliegDutch (the "Site" or "Sites").</p>

            <h4 class="bold">Privacy Policy</h4>
            <p>At VliegDutch, we recognize that the privacy of your personal information is important. The following is
                information on the types of personal data we receive and collect when you use and visit
                <a href="vliegdutch.nl">vliegdutch.nl</a> and how we safeguard your information. We never share or sell
                your personal information, we will neither give your data to any other party, except to the parties
                needed for handling your purchased reservation.</p>
            <p>As with most other websites, we collect and use the data in log files and web analytics tools. The
                information in the log files includes your IP address, your ISP, the browser you used to visit our
                site, the time you visited our site and which pages you visited throughout our site.</p>
            <p>VliegDutch contains links to other websites and websites of business partners that are not part of
                VliegDutch. VliegDutch cannot be held responsible for the way that privacy is handled by these websites
                nor for the content of these websites.</p>

            <h4 class="bold">Cookies</h4>
            <p>Cookies are files with small amount of data, which may include an anonymous unique identifier.
                Cookies are sent to your browser from a web site and stored on your computer's hard drive.
                Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all
                cookies or to indicate when a cookie is being sent.</p>

            <h4 class="bold">Security</h4>
            <p>The security of your personally identifiable information is important to us. When you enter sensitive
                information (such as a credit card number, date of birth, and/or geo-location data) on our registration
                or order forms, we encrypt that information using secure socket layer technology (SSL).</p>

            <p class="bold">We do not store or replicate your credit card information or any other means of payments
                in our servers. These are handled by our PCI complaint third party payment processor, namely ZooPay.</p>

            <h4 class="bold">Changes To This Privacy Policy</h4>
            <p>This Privacy Policy is effective as of 1st January 2016 and will remain in effect except with respect
                to any changes in its provisions in the future, which will be in effect immediately after being posted
                on this page.<br>
                We reserve the right to update or change our Privacy Policy at any time and you should check this
                Privacy Policy periodically. Your continued use of the Service after we post any modifications to the
                Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent
                to abide and be bound by the modified Privacy Policy.
                If we make any material changes to this Privacy Policy, we will notify you either through the email
                address you have provided us, or by placing a prominent notice on our website.</p>

            <h4 class="bold">Contact Us</h4>
            <p>If you have any questions about this Privacy Policy, please contact us.</p>
        </div>
    </div>
</div>
