/* ==== VARIABLES ==== */

$black: #000;
$black-2: #444444;
$white: #FFF;
$grey: #888;
$light-grey: #98A6AD;
$light-grey-2: #dedede;
$medium-grey: #E7E7E7;
$medium-grey-2: #cccccc;
$blue: #277cee;
$light-blue: #7db0f4;
$light-blue_2: #acc9dd;
$lighter-blue: #E5EFF9;
$background-blue: #E6F0FA;
$background-white: #FFF;

$brand-primary: $blue;

$blue-1: #74AFD6;
$blue-2: #74BDF0;
$orange: #fbba00;
$orange-2: #FF5722;
$orange-3: #ff8400;
$red: #e92133;
$pink: #F09273;

$text-light: $grey;

// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-h3: 25px;

// Buttons
$btn-border-radius-base: 0;

// Links
$link-color: $black;
$link-hover-color: $blue;
$link-hover-decoration: none;

// Forms
$input-height-base: 40px;
